@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem); 
  }
}

.animate-up-down {
  animation-name: upDown;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* table th:first-child{
  border-radius:10px 0 0 10px;
}

table th:last-child{
  border-radius:0 10px 10px 0;
}

tr > * + * {
  padding-left: 2em;
}

tbody:before {line-height:0.1em; content:"\200C"; display:block;} */

input[type='radio'] {
  accent-color: #768EE2;
}

input[type='checkbox'] {
  accent-color: #768EE2;
}